.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.login-container {
  width: 400px;
  height: 350px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65); /* Updated box-shadow property */
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form-container {
  width: 100%;
  height: 100%;
}

.login-input-container {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 90%;
}

.login-header {
  height: 20%;
  width: 100%;
  background-color: #0d1c2e;

  display: flex;

  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

.login-header h1,
h3 {
  padding: 0 50px;
}

.login-header h1 {
  font-size: 40px;
  margin: 0;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-input-group label {
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  padding-bottom: 5px;
}

.login-input-group input {
  height: 40px;
  border: none;
  outline: none;
  width: 80%;
  border-radius: 5px;
  padding: 0 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-group button {
  height: 40px;
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 10px;
  margin-right: 5px;
}

.button-group .login-link {
  height: 40px;
  width: 45%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;

  text-align: center;
}

.button-group button[type="submit"] {
  background-color: #00a0ff;
}

.button-group button[type="button"] {
  background-color: #ffffff;
  width: 100%;
}

.register-btn-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.register-btn-container button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.login-forgot-password {
  text-align: right;
}

.login-forgot-password span {
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 767px) and (min-width: 360px) {
  .login-container {
    height: 400px;
    width: 320px;
  }

  .login-container h1 {
    text-align: center;
  }

  .login-input-container {
    height: 50px;
  }

  .login-form-container {
    width: 100%;
    height: 400px;
    display: flex;

    flex-direction: column;
  }

  .login-input-group {
    width: 100%;
  }

  .login-input-group label {
    width: 100%;
  }
  .button-group {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .login-container {
    height: 100vh;
    width: 320px;
  }

  .login-container h1 {
    text-align: center;
  }

  .login-input-container {
    height: 50px;
  }

  .login-form-container {
    width: 100%;
    height: 400px;
    display: flex;

    flex-direction: column;
  }

  .login-input-group {
    width: 100%;
  }

  .login-input-group label {
    width: 100%;
  }
  .button-group {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}
