
.container {
  display: flex;
  justify-content: space-around;

  padding: 10px; /* Add padding to the container */
}

.chart-container {
  box-sizing: border-box;
  width: 48%;
  margin: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.chart-wrapper {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid black; /* Add a border to each chart container */
  padding: 10px; /* Add padding to each chart container */
  height: 400px;
  align-items: center;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

#jobChart,
#totalJobChart {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
 
}

.chart-container p {
  font-weight: bold;
  margin-top: 10px; /* Adjust the margin as needed */
  text-align: center;
}

/* Optional: Add styles for the label "Total Applicants:" */
.chart-container .chart-label {
  text-align: center;
  font-weight: bold;
  margin-top: 10px; /* Adjust the margin as needed */
}