.profile {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  height: 300px;
  width: 100%;
  background-color: #fcc203;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.profile-header-info-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.profile-header-info-left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.profile-header-info-right {
  /* max-width: 800px; */
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.profile-image {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border: 3px solid #323b4c;
  border-radius: 20px;
}

.profile-submit-image-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.profile-info-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-info-btn {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 20px;
}

.profile-input-container {
  max-width: 800px;
  width: 100%;
}

.profile-personal-summary {
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.profile-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 7px 30px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.profile-input {
  padding: 7px 15px;
  width: 200px;
  border: 2px solid black;
}

.profile-btn-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.profile-btn-modal {
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 200px;
}

.profile-btn-modal-active {
  padding: 20px;
  background-color: #fcc203;
  border: none;
  border-radius: 20px;
  width: 200px;
}
