.jobcard {
  width: 1100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.56); /* Updated box-shadow property */
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.56);
}


.jobcard-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.jobcard-section {
  width: 250px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.job-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.jobcard-info-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
}

.job-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.job-company {
  font-size: 12px;
  color: gray;
}

.job-highlight {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.job-description {
  font-size: 12px;
  color: gray;
}

.job-btn {
  width: 90px;
  height: 43px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.profile-btn:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
  color: #888888;
  border: 2px solid #aaaaaa;
}

@media (max-width: 767px) {
  .jobcard {
    width: 320px;
    padding: 20px 0 20px 0;
  }

  .jobcard-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
  }

  .jobcard-info-container {
    width: 100%;
    align-items: flex-start;
    padding: 10px;
  }

  .jobcard-section {
    gap: 0;
  }

  .job-image {
    display: none;
  }

  .job-highlight {
    display: none;
  }

  .job-description {
    display: none;
  }

  .jobcard-icon {
    display: none !important;
  }

  .responsive {
    display: none;
  }

  .job-btn {
    width: 150px;
  }
}

@media (max-width: 1150px) and (min-width: 767px) {
  .jobcard {
    width: 95%;
    padding: 20px 0 20px 0;
  }
}
