/* Save Button */
.save-button,
.cancel-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.save-button {
  background-color: #4caf50; /* Green color */
  color: white;
  border: 2px solid #4caf50;
}

.save-button:hover {
  background-color: #45a049; /* Darker green color on hover */
}

/* Cancel Button */
.cancel-button {
  background-color: #f44336; /* Red color */
  color: white;
  border: 2px solid #f44336;
  margin-left: 10px; /* Add some spacing between the buttons */
}

.cancel-button:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}
