.applicant-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.applicant-list-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.applicant-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.applicant-filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.applicant-list-table-header {
  border-bottom: 3px solid #a1a1a1;
}

.applicant-list-table-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.applicant-search {
  display: flex;
  align-items: center;

  background-color: #f2f2f2;
  height: 56px;
  width: 300px;
  padding-left: 20px;
}

.applicant-search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  padding-left: 10px;
}

.applicant-list-modal-btn {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  cursor: pointer;
}

/* modal */
.applicant-list-modal-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-top: 25px;
  position: relative;
}

.applicant-list-modal-container label {
  display: flex;
  flex-direction: column;
}

.applicant-list-modal-close-btn {
  border: none;
  background-color: transparent;
  padding: 5px;
  position: absolute;
  top: 0px;
  right: 5px;
}
